* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

h1 {
  padding-top: 15px;
  font-weight: 800;
  text-align: center;
  text-decoration: underline double #000000 5px;
}

div {
  margin: 20vh auto;
  padding: 20px 40px 5px 30px;
  width: 60vw;
  
}

img {
  width: 300px;
  height: 200px;
}

.description {
  padding-top: 20px;
}

.ending-text {
  text-decoration: overline solid #000000;
  text-align: center;
  font-style: italic;
  padding-top: 40px;
}

div.charlotte {
  background-color: #d4ecf7;  
  position: relative;
  border-style: solid solid dashed dashed;
  border-color: #4c7e7a;
  position: relative;
}

.charlotte-photo {
  position: absolute;
  top: -80px;
  left: 80%;
  border: 5px solid #4c7e7a;
}

div.charlotte .text {
  padding-top: 20px;
  color: #4c7e7a;
  text-decoration: underline solid #4c7e7a 3px;
}

div.charlotte .description:first-letter {
  color:#4c7e7a;
  font-size: 2rem;
  font-weight: 900;
}

div.charlotte h3 {
  color: #4c7e7a;
}

div.charlotte .ingredients li:nth-child(even) {
  color: #4c7e7a;
  text-decoration: underline dotted #4c7e7a;
}

div.charlotte .cooking-method li:nth-child(even) {
  color: #4c7e7a;
  text-decoration: underline dotted #4c7e7a;
}

div.tiramisu {
  background-color: #e3e6e9;
  border-style: solid solid dashed dashed;
  border-color: #808080;
  position: relative;
}

.tiramisu-photo {
  position: absolute;
  top: -80px;
  left: 80%;
  border: 5px solid #808080;
}

div.tiramisu .text {
  color: #808080;
  text-decoration: underline solid #808080 3px;
}

div.tiramisu .description:first-letter {
  color: #808080;
  font-size: 2rem;
  font-weight: 900;
}

div.tiramisu h3 {
  color: #808080;
}

div.tiramisu .ingredients li:nth-child(odd) {
  color: #808080;
  text-decoration: underline dashed #808080;
}

div.cookies {
  background-color: #a4d8ba;
  border-style: solid solid dashed dashed;
  border-color: #1b5e3c;
  position: relative;
}

.cookies-photo{
  position: absolute;
  top: -80px;
  left: 80%;
  border: 5px solid #1b5e3c;
}

div.cookies .text {
  color: #1b5e3c;
  text-decoration: underline solid #1b5e3c 3px;
}

div.cookies .description:first-letter {
  color: #1b5e3c;
  font-size: 2rem;
  font-weight: 900;
}

div.cookies h3 {
  color: #1b5e3c;
}

div.cookies .ingredients li:nth-child(3n) {
  color: #1b5e3c;
  text-decoration: underline wavy #1b5e3c;
}
